# These are configurations for the PostgreSQL DB container. See what can be
# customized/info on their docker hub page: https://hub.docker.com/_/postgres
#
# Remember, these must match the values specified on .env.local
POSTGRES_USER: digitalsoul
POSTGRES_PASSWORD: digitalsoul
