# These are configurations for the PostgreSQL DB container. See what can be
# customized/info on their docker hub page: https://hub.docker.com/_/postgres
#
# Remember, these must match the values specified on .env.local

# This is simply because psql and pg_isready are two different (although
# related) programs which have different logic of environment lookup (one looks
# for POSTGRES_USER, the other one – for PGUSER).
PGUSER=digitalsoul
POSTGRES_USER=digitalsoul
POSTGRES_PASSWORD=digitalsoul
POSTGRES_DB=digitalsoul_dev
